@import url("accueil.css");
@import url("discographie.css");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root{
    --title: 'Lobster', cursive;
    --regular: 'Roboto', sans-serif;
    --bg:#CCDDE7;
    --text:#0000;
    --primary:#F0ADBA;
    --primary-alt:#D29AA3;
    --secondary-alt:#096F87;
    --secondary:#0BA4C5;
}


*{
    box-sizing: border-box;
    
}

.titre{
    font-family: var(--title);
  }

.texte{
    font-family: var(--regular);
}


@media (orientation:landscape){
    header{
    height: 56.25vw;
    }
}

picture{
    width: 100%;
    height: 100%;
}

.row{
    height: 100%;
}

.container{
    height: 100%;
}

html {
    scroll-behavior: smooth;
  }

main{
    height: 100%;
    position: relative;
    width: 100%;
}

header{
    position: relative;
    height: 100vh;
    width: 100%;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.navbar{
    background-color: var(--primary);
  }

  footer{
      margin-top: 20px;
      padding-top: 20px;
      width: 100%;
      bottom:0;
      background-color: var(--primary);
      color:white;
  }

  main .btnPlus{
    font-size: 20px;
    padding-bottom:5px;
    color: white;
    background-color: var(--secondary);
    border-color: var(--secondary-alt);
}

.btnPlus{
    font-size: 25px;
    padding-bottom:5px;
    color: white;
    background-color: var(--primary);
    border-color: var(--primary-alt);
    border-radius: 6px;
    padding-bottom: 5px;
}

.git{
    text-decoration: none;
    color: white;
}

.git:hover{
    color: #CCDDE7;
}

.git:active{
    color: #CCDDE7;
}

.git:focus{
    color: #CCDDE7;
}

.creatrice { 
    text-decoration: none;
    color: white;
 }

.creatrice:hover { 
    color: #CCDDE7;
}

.creatrice:active{
    color: #CCDDE7;
}

.creatrice:focus{
    color: #CCDDE7;
}

.modal-title{
    font-family: var(--title);
}

.btn-close{
    color: var(--primary);
}

.imgCreatrice{
    width:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.youtube{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

iframe {
    width:100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.video{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.titreSection{
    font-size: 50px;
    color: var(--secondary);
    font-family: var(--title);
}

.modal-title{
    color: var(--secondary);
    font-family: var(--title);
}

.modal-content{
    border-radius: 20px;
    background-color: #FDFDFC;
    padding:5%;
}

.btn-close{
    color: var(--primary-alt);
}
.modal-header{
    border-style: none;
    padding-top: 5%;
}

.modal-title{
    padding-left: 26%;
}

.question{
    display:none;
  }
  
  .is-visible{
    display:block;
  }

  .quizHeader{
    background-color: var(--primary);
    border-radius: 1vw;
    padding:1%;
  }

  .quizTitle{
      color:white;
     font-size:4vw;

  }

  