@import url("accueil.css");
@import url("discographie.css");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root{
    --title: 'Lobster', cursive;
    --regular: 'Roboto', sans-serif;
    --bg:#CCDDE7;
    --text:#0000;
    --primary:#F0ADBA;
    --primary-alt:#D29AA3;
    --secondary-alt:#096F87;
    --secondary:#0BA4C5;
}


*{
    box-sizing: border-box;
}


html, body {
    height: 100%;
  }

.titre{
    font-family: var(--title);
  }

.texte{
    font-family: var(--regular);
}



@media (orientation:landscape){
    header{
    height: 56.25%;
    }
}

picture{
    width: 100%;
    height: 100%;
}


.row{
    height: 100%;
}

.container{
    height: 100%;
}

html {
    scroll-behavior: smooth;
  }

main{
    height: 100%;
    position: relative;
    width: 100%;
}

header{
    position: relative;
    height: 100vh;
    width: 100%;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

footer{
    background-color: var(--primary);
    position: relative;
    bottom: 0;
    width: 100%;
    
}